<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Cookbook</title>
</head>

<body>
  <%- include('./partials/_navbar.ejs') %>
  <h1>Welcome to the Pantry</h1>
  <p>This is an app where you can store all the food items that you have in your pantry!</p>
</body>

</html>